.blog-item {
  display: flex;
  padding: 20px;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.blog-content {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.blog-image {
  max-width: 350px;
  margin: 0 auto;
}

button {
  width: 100px;
  margin: 0 auto;
}

.show-detail,
.blog-content {
  font-size: 20px;
}
