form {
    padding: 1%;
    background-color: aquamarine;
    width: 80%;
}

div {
    margin-bottom: 10px;
    
}

#comment {
    clear: right;
    width: 100%;
    height: 100px;
}

#person_name {
    padding: 1%;
}

button {
    clear: right;
    padding: 4px;
    margin-right: 0;
}